@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
*{
    font-family: 'Roboto Mono';
    color: #E7F6F2;
    background-color: #2C3333;
}

header{
    display: flex;
    justify-content: space-between;
}